<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href= "{{ url_for('index') }}">Home</a>
            <!-- if not logged in (is_anonymous), show 'login' option.
            if logged in, show 'logout' option.-->
            {% if current_user.is_anonymous %}
            <a href= "{{ url_for('login') }}">Login</a>
            {% else %}
            <!-- first param in url_for is the view method. remaining param
            contains the value(s) to be passed into the view method (username-->
            <a href="{{ url_for('user', username = current_user.username) }}">Profile</a>
            <a href= "{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        <!-- flash messages disappear after get_flashed_messages is called.
        cool! -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
    </body>
</html>
