{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _("Register") }}</h1>
    <!-- html container for the web form.
    action: the URL that the form information should be submitted to. if blank,
    info is submitted to current URL.
    method: the type of HTTP request method to be used when submitting. 'post'
    submits the data in the body of the request. 'get' also common. -->
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
